@use "_variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $color-bg;
  color: $color-text;
  font-weight: $fontWeight-normal;
  font-family: $font-sansSerif;
  line-height: 1.5;
  font-size: $fontSize-normal;
  @media (min-width: #{$screen-sm + 1}) {
    font-size: $fontSize-large;
  }
}
