@use "_variables" as *;

.app-header {
  position: absolute;
  width: 100%;
  z-index: 1;
  top: $size-unit * 4;
  @media (min-width: #{$screen-sm + 1}) {
    top: $size-unit * 20;
  }
  &__logo {
    color: rgb(252, 252, 252);
    font-family: Mplus 1p;
    font-size: $fontSize-largest;
    font-weight: $fontWeight-boldest;
    line-height: 1.5;
    letter-spacing: 2px;
    margin-right: $size-unit * 8;
    @media (min-width: #{$screen-sm + 1}) {
      margin-right: auto;
    }
  }
  &__nav {
    position: absolute;
    right: $size-unit * 8;
    top: $size-unit * 10;
    text-align: right;
    @media (max-width: #{$screen-sm}) {
      height: 0;
    }
    @media (min-width: #{$screen-sm + 1}) {
      margin-right: $size-unit * 23;
      position: static;
      text-align: left;
      height: auto;
    }
    &.app-header__nav--is-visible {
      height: auto;
      @media (min-width: #{$screen-sm + 1}) {
        display: flex;
      }
      ul > * {
        width: 100%;
      }
    }
    ul {
      display: flex;
      flex-direction: column;
      @media (min-width: #{$screen-sm + 1}) {
        flex-direction: row;
      }
      & > * {
        @media (max-width: #{$screen-sm}) {
          width: 0;
          overflow: hidden;
          transition: width 0.3s;
        }
        &:not(:last-child) {
          margin-bottom: $size-unit * 2;
          @media (min-width: #{$screen-sm + 1}) {
            margin-right: $size-unit * 14;
            margin-bottom: 0;
          }
        }
      }
    }

    &-item {
      display: inline-block;
      position: relative;
      color: $color-text;
      font-size: $fontSize-small;
      font-weight: $fontWeight-bolder;
      line-height: 1.5;
      letter-spacing: 2px;
      &::after {
        content: "";
        display: block;
        width: 0%;
        border-bottom: 1px solid transparent;
        transition:
          width 0.2s,
          border-color 0.3s;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%);
      }
      &--active,
      &:hover {
        &::after {
          border-color: $color-text;
          width: 70%;
        }
      }
    }
  }
  a[href^="tel:"] {
    color: $color-text;
    font-size: $fontSize-small;
    font-weight: $fontWeight-bolder;
    line-height: 1.5;
    letter-spacing: 2px;
    display: inline-flex;
    align-items: center;
    vertical-align: bottom;
    display: none;
    @media (min-width: #{$screen-md + 1}) {
      display: flex;
    }
    img {
      margin-right: $size-unit * 4.5;
    }
  }
  &__burger-btn {
    width: $size-unit * 7;
    height: $size-unit * 4;
    position: relative;
    background: transparent;
    border: none;
    cursor: pointer;
    margin-left: auto;
    @media (min-width: #{$screen-md + 1}) {
      margin-left: $size-unit * 32;
    }
    &::before,
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background: $color-text;
      position: absolute;
      right: 0;
      transition: width 0.3s;
    }
    &::before {
      top: 0;
    }
    &::after {
      top: calc(50% - 1px);
    }
    i {
      display: block;
      width: 66%;
      height: 2px;
      background: $color-text;
      position: absolute;
      right: 0;
      bottom: 0;
      transition: width 0.3s;
    }
    &:hover {
      &::before {
        width: 33%;
      }
      &::after {
        width: 66%;
      }
      i {
        width: 100%;
      }
    }
  }
}
