@use "_variables" as *;

.app-quote {
  position: relative;
  z-index: 1;
  line-height: 1;
  margin: 0 -#{$size-unit * 8} -#{$size-unit * 17.5};
  @media (min-width: #{$screen-sm + 1}) {
    width: $size-unit * 115;
    margin: 0 0 -#{$size-unit * 50};
  }

  &__content {
    color: $color-text;
    font-family: $font-condensed;
    font-style: italic;
    font-size: $fontSize-larger;
    font-weight: $fontWeight-normal;
    line-height: 1.4;
    padding: $size-unit * 8 $size-unit * 12;
    position: absolute;
    bottom: 0;
    background: rgb($color-bg, 0.3);
    text-align: center;
    @media (min-width: #{$screen-sm + 1}) {
      text-align: left;
      padding: $size-unit * 38 $size-unit * 15 $size-unit * 22;
      background: $color-bg;
      width: $size-unit * 95;
      left: 100%;
      bottom: auto;
      margin-left: -#{$size-unit * 33};
      &:before {
        position: absolute;
        top: 0;
        right: 100%;
        content: "";
        height: $size-unit * 9;
        width: $size-unit * 16;
        background: $color-bg;
      }
    }
  }
  &__text {
    margin: $size-unit * 4 0 $size-unit * 6;
    @media (min-width: #{$screen-sm + 1}) {
      margin: $size-unit * 11 0 $size-unit * 15;
    }
  }
  &__top,
  &__bottom {
    display: block;
    @media (min-width: #{$screen-sm + 1}) {
      margin: 0 45% 0 auto;
    }
  }
  &__top {
    transform: rotate(180deg);
  }
  &__bottom {
    margin-left: auto;
  }
  &__picture {
    max-width: 100%;
    margin-top: $size-unit * 9;
  }
}
