@use "_variables" as *;

.app-slider {
  margin: 0 -#{$size-unit * 8} -#{$size-unit * 13};
  @media (min-width: #{$screen-sm + 1}) {
    margin: 0;
  }
  &__item {
    @media (min-width: #{$screen-sm + 1}) {
      display: flex;
    }
  }
  &__img {
    max-width: 100%;
    @media (min-width: #{$screen-sm + 1}) {
      width: $size-unit * 115;
    }
  }
  &__text {
    color: $color-secondary;
    font-size: $fontSize-smaller;
    font-weight: $fontWeight-bolder;
    line-height: 1.58;
    letter-spacing: 6px;
    text-transform: uppercase;
    flex-basis: $size-unit * 17;
    display: flex;
    align-items: center;
    margin: -#{$size-unit * 12} 0 0;
    padding: $size-unit * 4 $size-unit * 6 $size-unit * 4 $size-unit * 8;
    background: $color-text;
    position: relative;
    z-index: 1;
    @media (min-width: #{$screen-sm + 1}) {
      justify-content: center;
      width: $size-unit * 17;
      margin: 0 0 0 $size-unit * 7.5;
      writing-mode: vertical-rl;
      text-orientation: mixed;
      position: static;
    }
  }
  &__controls {
    display: flex;
    justify-content: end;
    color: $color-secondary;
    align-items: center;
    margin-top: -#{$size-unit * 10};
    position: relative;
    z-index: 2;
    padding-right: $size-unit * 8;
    @media (min-width: #{$screen-sm + 1}) {
      width: $size-unit * 115;
      margin-top: $size-unit * 10;
      position: static;
    }
  }
  &__prev,
  &__next {
    border: none;
    padding: 0;
    background: none;
    line-height: 1;
    width: $size-unit * 6.75;
    height: $size-unit * 6.75;
    border-radius: 50%;
  }
  &__next {
    transform: rotate(180deg);
    margin-left: $size-unit * 4.5;
  }
  &__pagination {
    font-size: $fontSize-smaller;
    font-weight: $fontWeight-bolder;
    line-height: 1.58;
    letter-spacing: 6px;
    text-transform: uppercase;
    margin-right: $size-unit * 8;
  }
}
